{% extends "layout.html.twig" %}
{% set error = 'Error 404!' %}
{% set title = error %}
{% block body %}
    
        <br /><br /><h1>{{ error }}</h1><br /><br /><br />
        <b>The page was not found</b>

{% endblock %}