{% extends "layout.html.twig" %}
{% set hello = 'Hello ' ~ name ~ '!' %}
{% set title = hello %}
{% block body %}

        <h1>{{ hello }}</h1>
        You can try to change the word "{{ name }}" by your name!

{% endblock %}