/* 
    Created on : 5/03/2014
    Author     : EpicJhon
*/

body {
    margin: 0;
    padding: 0;
    background-color: #F3F5F5;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    color: #666;
    font-size: x-large;
}
body a {
    text-decoration: none;
    color: #61665E;
    font-style: italic;
    font-size: medium;
}