{% extends "default.html.twig" %}
{% set welcome = 'Welcome to iWorkPHP!' %}
{% set title = welcome %}
{% block body %}

        <h1>{{ welcome }}</h1>
        <p>You can explore our examples</p>
        <p><a href="http://google.com">hello world</a></p>
        <p><a href="http://google.com">Simple plain text</a></p>

{% endblock %}